@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #eeeeee;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  overflow-x: hidden;
}

#header-img {
  height: 100%;
  width: 300px;

}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  flex: auto;
  align-items: center;
  background-color: #eeeeee;
  z-index: 1;
  gap: 5rem;
}

@media screen and (max-width:959px) {
  .top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 100%;
  }


  #nav-bar {
    justify-content: center;
  }
}

.logo {
  display: flex;
  margin-right: 10rem;
}


@media screen and (max-width:959px) {

  .logo {
    align-self: center;
    margin-right: 0;
  }
}


#nav-bar>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  flex: 1;
  margin-right: 2rem;
  margin-left: 10rem;
}

@media screen and (max-width:959px) {
  #nav-bar>ul {
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin: 0;
  }
}

#nav-bar ul li {
  list-style-type: none;
}

#nav-bar ul li a {
  text-decoration: none;
  color: #252425;
}

.form-container {
  margin: 50px 0 -20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 200px;
}

@media screen and (max-width:959px) {
  .form-container {
    margin-top: 140px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

#form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

#email {
  width: 100%;
  height: 100%;
  max-width: 275px;
  padding: 5px;
  margin: 0 auto;
}

#submit {
  font-size: 16px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  height: 30px;
  max-width: 150px;
  margin: 0 auto;
  background-color: #F1C40F;
  border: 1px solid #F1C40F;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 0 25px 0;
}

#submit:hover {
  background-color: orange;
  transition: background-color 1s;
}

#features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  color: darkorange;
}


.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 14vw;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 76vw;
}

.fa-fire-flame-curved {
  font-size: 3em;
}

.fa-truck {
  font-size: 3em;
}

.fa-battery-full {
  font-size: 3em;
}


#how-it-works {
  margin: 2rem 0 4rem 0;
}

#pricing {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2.5rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  width: calc(80% / 3);
  margin: 10px;
}

#Tenor,
#Bass,
#Valve {
  background-color: rgb(221, 221, 221);
  width: 100%;
  padding: 5px;
}

h3 {
  font-size: 24;
  font-weight: 700;
  margin: 15px 0 9px 0;
}

ol li {
  list-style-type: none;
  padding: 5px 0;
}

button {
  background-color: #F1C40F;
  border: 1px solid #F1C40F;
  border-radius: 3px;
  cursor: pointer;
  margin: 15px 0;
  padding: 0 20px;
  height: 40px;

}

.select-button:hover {
  background-color: orange;
  transition: background-color 1s;
}

footer {
  width: 90%;
  background-color: #dddddd;
  padding: 20px;
}

footer ul {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 5px;
}

@media screen and (max-width:715px) {
  footer {
    height: 98px;
  }

  footer ul {
    justify-content: center;
    margin-top: 0;
  }
}


@media screen and (max-width:442px) {
  footer {
    height: 120px;
  }
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  color: #000000;
}

.footer-span {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

@media screen and (max-width:715px) {
  .footer-span {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}

@media screen and (max-width:442px) {
  .footer-span {
    text-align: center;
  }
}